<a href="https://colab.research.google.com/github/Hunyakamolodoy/ProektirovanieInfomcionnihSystem/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#import packages

In [1]:

import pandas as pd
import numpy as np
from IPython.display import display

#import data

In [17]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data', header = None)
data.head(3)

   0        1      2     3     4      5     6     7    8    9   10
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0   1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0   1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0   1

In [43]:
names = [ "RI", "Na","Mg","Al","Si","K","Ca","Ba","Fe","Class"]
data.columns = names
#data.columns = names
data = data.drop(columns=["Id"])
#data = data.drop(columns=['Id'])
data.head(3)

ValueError: ignored

In [40]:
data['Class'].replace({1:"building_float",
                       2: "building_non_float",
                       3:"Vehicle_float",
                       4:"vehicle_non_float",
                       5:"containers",
                       6:"tableware",
                       7:"headlamps"},
                       inplace = True)
data['Class'].value_counts()

building_non_float    76
building_float        70
headlamps             29
Vehicle_float         17
containers            13
tableware              9
Name: Class, dtype: int64

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Na      214 non-null    float64
 1    Mg     214 non-null    float64
 2   Al      214 non-null    float64
 3   Si      214 non-null    float64
 4   K       214 non-null    float64
 5   Ca      214 non-null    float64
 6   Ba      214 non-null    float64
 7   Fe      214 non-null    float64
 8   Class   214 non-null    object
dtypes: float64(8), object(1)
memory usage: 15.2+ KB

In [42]:
for col in data.colums:
  fr = np,random.randint(5,10)/100
  data.loc[data.sample(frac=fr).index, col] = np.nan

AttributeError: ignored